html {
   box-sizing: border-box;
}

*,
*::before
*::after {
   box-sizing: inherit;
}

a{
   text-decoration: none;
}


body {
   font-family: "HelveticaNeueCyr", "Verdana", sans-serif;
   font-size: 14px;
}
.container {
   max-width: 1935px;
   padding: 0px 15px;
   margin: 0 auto;
}

.inner {
   max-width: 1530px;
   margin: 0 auto;
}

