@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'global';

//* start header

.header {

   &__inner {
      height: 120px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 5px solid #00A9FF;
   }

   &__logo-img {
      display: block;
      padding-bottom: 7px;
   }

   &__logo-slogan {
      font-weight: 300;
      font-size: 10px;
      color: #9B9B9B;
   }

}

.link-inner {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.contact-box {
   margin-bottom: 35px;
   &__link + &__link {
      margin-left: 40px;
   }

   &__link {
      color: #9B9B9B;
      transition: 0.3s;
      &:hover {
         color: #00A9FF;
      }
   }
}

.nav {
   transition: 0.3s;
   margin-bottom: 31px;
   &__list + &__list {
      margin-left: 108px;
   }

   &__list {
      display: inline;
      text-transform: uppercase;
   }

   &__link {
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      color: #00A9FF;
      transition: 0.3s;
      &:hover {
         color: #9B9B9B;
      }
   }

   &__link--active {
      color: #9B9B9B;
   }
}


//* end header

// .selector-item {
//    /* Позиционирование */
//    position: fixed;
//    top: 0;
//    right: 0;
//    bottom: 0;
//    left: 0;
//    z-index: 100;
 
//    /* Блочная модель */
//    display: inline-block;
//    float: left;
//    width: 150px;
//    height: 150px;
//    margin: 25px;
//    padding: 25px;
 
//    /* Типографика */
//    font: normal 13px/1.5 "Helvetica", sans-serif;
//    font-style: normal;
//    font-size: 13px;
//    line-height: 1.5;
//    font-family: "Helvetica", sans-serif;
//    text-align: start;
 
//    /* Оформление */
//    color: #999999;
//    background-color: #e3e3e3;
//    border: 1px solid #333333;
//    border-radius: 5px;
//    opacity: 1;
 
//    /* Анимация */
//    transition: all 0.8s;
 
//    /* Разное */
//    will-change: auto;
//  }

