@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'global';

//* start header

.header-up {
   &__inner {
      display: flex;
      justify-content: space-between;
   }
   
   &__logo {
      margin-top: 42px;
      .logo-img {
         display: block;
         margin-bottom: 7px;
      }

      .logo-slogan {
         color: #9B9B9B;
      }
   }
   
}

.contact-box {
   padding-top: 21px;
   &__link + &__link {
      margin-left: 43px;
   }

   &__link {
      color: #9B9B9B;
   }

   &__login {
      position: relative;
      padding: 6px 16px 6px 36px;
      background: #F9F9F9;
      border: 1px solid #D2CECE;
      border-radius: 2px;

      &::before {
         position: absolute;
         content: '';
         top: 7px;
         left: 15px;
         width: 10px;
         height: 9px;
         background-image: url('../images/header-logo-btn/btn.svg');
      }

      &::after {
         position: absolute;
         content: '';
         top: 17px;
         left: 15px;
         width: 10px;
         height: 5px;
         background-image: url('../images/header-logo-btn/btn-1.svg');
      }
   }
}

//* end header

// .selector-item {
//    /* Позиционирование */
//    position: fixed;
//    top: 0;
//    right: 0;
//    bottom: 0;
//    left: 0;
//    z-index: 100;
 
//    /* Блочная модель */
//    display: inline-block;
//    float: left;
//    width: 150px;
//    height: 150px;
//    margin: 25px;
//    padding: 25px;
 
//    /* Типографика */
//    font: normal 13px/1.5 "Helvetica", sans-serif;
//    font-style: normal;
//    font-size: 13px;
//    line-height: 1.5;
//    font-family: "Helvetica", sans-serif;
//    text-align: start;
 
//    /* Оформление */
//    color: #999999;
//    background-color: #e3e3e3;
//    border: 1px solid #333333;
//    border-radius: 5px;
//    opacity: 1;
 
//    /* Анимация */
//    transition: all 0.8s;
 
//    /* Разное */
//    will-change: auto;
//  }

